<h3>Registration</h3>
<div>
<table align="center">
	<thead><tr><th colspan="2">&nbsp;&nbsp;Sign Up</th></tr></thead>
	
	<tbody>
		<tr>
			<td><label id="a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Name</label></td><td><input type="text" name="" placeholder="Enter First Name"></td>
		</tr>


		<tr>
			<td><label id="a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last Name</label></td><td><input type="text" name="" placeholder="Enter Last Name"></td>
		</tr>
		
		<tr>
			<td><label id="a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date of Birth</label></td>
			<td>
				<select><option>Date</option></select>
				<select><option>Month</option></select>
				<select><option>Year</option></select>
			</td>
		</tr>
		
		<tr>
			<td>
				<label id="a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gender</label>
			</td>
			<td>
				<input type="radio" name="Gender">Male
				<input type="radio" name="Gender">Female
			</td>
		</tr>

		<tr>
			<td><label id="a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Country</label></td><td><select><option>Country</option></select></td>
		</tr>
		
		<tr>
			<td><label id="a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail</label></td><td><input type="text" name="" placeholder="Enter E-mail"></td>
		</tr>
		<tr>
			<td><label id="a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone</label></td><td><input type="text" name="" placeholder="Enter Phone"></td>
		</tr>
		
		<tr>
			<td><label id="a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password</label></td><td><input type="Password" name=""></td>
		</tr>

		<tr>
			<td><label id="a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confirm Password</label></td><td><input type="Password" name=""></td>
		</tr>
		
		<tr>
			<td></td><td colspan="2"><input type="checkbox" name="">I Agree to the Terms of use</td>
		</tr>

	</tbody>

	<tfoot>
		<tr >
			<td colspan="2"><button style="background-color: green;">Submit</button>&nbsp;&nbsp;<button style="background-color: red">Cancel</button>&nbsp;</td>
		</tr>
		
	</tfoot>
	
</table>
</div>